<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - ! </title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}
    </head>
    <body>
        <div><a href = "/index">HOME</a></div>
        <div><a href = "/store">STORE</a></div>

        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">LOGIN</a>
        {% else %}
        <a href="{{ url_for('logout') }}">LOGOUT</a>
        <div>Hello, {{current_user.username}}!</div>
        {% endif %}

        <div>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
               <ul>
                   {% for message in messages %}
                   <li>{{ message }}</li>
                   {% endfor %}
               </ul>
               {% endif %}
           {% endwith %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>